.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:14px 80px;

    background:#081223;
}

.logo{
    display:flex;
    align-items:center;
    text-decoration:none;
}

.logo img{
    width:320px;
    height:auto;
    display:block;
}

.nav-links{
    display:flex;
    gap:40px;

    list-style:none;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover{
    color:#39b9ff;
}

@media (max-width: 768px) {
  .navbar {
    padding: 14px 20px;
  }

  .nav-links {
    display: none;
  }

  .logo img {
    width:150px;
  }
}