.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 80px;

    background:#081223;
}

.logo{
    color:#39b9ff;
    font-size:32px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    gap:40px;

    list-style:none;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover{
    color:#39b9ff;
}
@media (max-width: 768px) {
  .navbar {
    padding: 18px 20px;
  }

  .nav-links {
    display: none;
  }

  .logo {
    font-size: 26px;
  }
}